
.result-img{
    width: 100px;
    height: 150px;
}

.result-details {
    display: flex;
}

@media screen and (max-width: 763px) {
    
    .result-details a {
        text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.result-details a:hover {
    color: red;
}


