.result-container{
    display: flex;
    flex-direction: column;
}

.result-container button {
    border: solid 2px red;
    border-radius: 6px;
    padding: 0.8rem;
    align-self: flex-end;
}

.result-container button:hover {
    background-color: red;
    color: white;
}
