.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 20vw;
    gap: 20px;

}

.links:hover{
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}






Button{
    margin-top: 20px;
}

