.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height:60px;
    position: relative;
}

.header li {
    padding: 20px;
    font-size: 18px;
    border-radius: 6px;
}

span:hover{
    color: red;
}

hr.solid {
    border-top: 1px solid #bbb;
    width: 100vw;
}

.navigation-menu{
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
    gap: 30px;
  }
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }

.hamburger{
    filter: invert();
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger img {
  width: 2rem;
  height: 2rem;
}


@media screen and (max-width: 1024px) {
    .hamburger {
        display: block;
        z-index: 1;
      }

      .navigation-menu ul {
        display: none;
      }

      .navigation-menu.expanded ul {
        display: block;
        padding-top: 50px;
      }
  }


  @media screen and (max-width: 1024px) {
    .navigation-menu ul {
      position: absolute;
      top: 60px;
      left: 0;
      flex-direction: column;
      gap: 60px;
      width: 100%;
      height: calc(100vh - 77px);
      background-color: black;
      border-top: 1px solid white;
    }

    .header span:hover{
        color: white;
    }
    .navigation-menu li {
      text-align: center;
      margin: 0;
      
    }

    li > a > span {
      width: 100%;
    }
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 5px 0;
    }
    .navigation-menu li:hover {
      background-color: red;
      opacity: 80%;
    }
}


