
.result-card{
    padding: 6px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    text-decoration: none;
    font-weight: 600;
    background-color: #6B728E;
    position: relative;
    color: white;
    height:auto;
    
}

@media screen and (max-width: 767px) {
    .result-card {
        width: 30%;
    }
  }


.result-title p{
    margin: 4px 2px;
}

.result-title{
    background-color: #6B728E;
    margin: 4px 2px;
}

a { 
    color: inherit; 
} 

.image-section{
    min-height: 70%;
}

.image-section img:hover::after{
    content: "Select";
    position: absolute;
    background-color: black;
    z-index: 1;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}





