
.selection{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 9px;
    padding: 4%;
    background-color: #6B728E;
    color: white;
}

.selection-item > p{
    margin-bottom: 0%;
}

.selection-item{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 18px; 
    padding: 2%;
    transition: background-color 0.5s;
}

.selection-item:hover{
    background-color: #de6864;
}


.cancel{
    cursor:pointer;
}
